---
import Para from "./Para.astro";

const {
  subtitle,
  title,

  main = [],
  list = [],
  listStyle = "ul",
  defaultStyle = {},
  thestyle = [],

  imageUrl,
  alt,
  reverse = false,
} = Astro.props;
---

<section class="content-card-section w-full py-6 md:py-12 overflow-hidden">
  <div class="max-w-7xl mx-auto px-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 items-center">
      <!-- IMAGE -->
      <div
        class={`card-image relative ${reverse ? "lg:order-2" : "lg:order-1"}`}
      >
        <div class="absolute -inset-4 bg-primary/5 rounded-2xl -z-10"></div>
        <img
          src={imageUrl}
          alt={alt}
          class="w-full h-auto rounded-xl shadow-2xl object-cover"
        />
      </div>

      <!-- TEXT -->
      <div
        class={`card-text space-y-4 ${reverse ? "lg:order-1" : "lg:order-2"}`}
      >
        {
          subtitle && (
            <p class="text-sm uppercase tracking-wide text-primary">
              {subtitle}
            </p>
          )
        }

        {
          title && (
            <h2 class="text-2xl md:text-3xl font-bold text-gray-900">
              {title}
            </h2>
          )
        }

        <Para
          main={main}
          list={list}
          listStyle={listStyle}
          defaultStyle={defaultStyle}
          thestyle={thestyle}
        />
      </div>
    </div>
  </div>
</section>
