---
import { Play } from "lucide-astro";

/**
 * Props
 * sizeClass : Ukuran container (w- & h-) menggunakan Tailwind classes agar responsif
 * colorClass: Warna background
 * ripple    : Animasi ripple
 */
const {
  sizeClass = "w-16 h-16 md:w-24 md:h-24 lg:w-32 lg:h-32",
  colorClass = "bg-primary",
  ripple = true,
} = Astro.props;
---

<div class="relative flex items-center justify-center">
  {
    ripple && (
      <>
        <span
          class={`ripple absolute rounded-full ${sizeClass} ${colorClass} opacity-60`}
        />
        <span
          class={`ripple ripple-delay absolute rounded-full ${sizeClass} ${colorClass} opacity-60`}
        />
      </>
    )
  }

  <div
    class={`${colorClass} ${sizeClass} flex items-center justify-center rounded-full z-10 shadow-lg`}
  >
    <Play class="text-white w-1/2 h-1/2 ml-1" strokeWidth={3} />
  </div>
</div>

<style>
  .ripple {
    animation: ripple 2s infinite ease-out;
  }

  .ripple-delay {
    animation-delay: 1s;
  }

  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    100% {
      transform: scale(2.2);
      opacity: 0;
    }
  }
</style>
